/* * {
  box-sizing: border-box;

}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191718;
  margin: 0;
  padding: 0;
}
  
nav a {
  color: #e0e5e9;
  margin: 0 10px;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
}

#logo{
width: 90px;
} 

/* Style pour le lien actif 
nav a.active {
  color: #0a62d0;
} */